body{
    font-family: 'robot',sans-serif;
}

#wrapper{
    max-width: 500px;
    margin:0 auto;
    background-image: url(WhatsApp\ Image\ 2022-11-10\ at\ 13.01.10.jpeg);
    overflow: hidden;
}

.kotak{
    width: 400px;
    height: 50px;
    border:solid 3px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 10px;
    display: block;
    font-size: 30px;
    text-emphasis: none;
    color: white;
    background-color: black;
    margin-bottom: 10px;
}

.kotak:hover{
    background-color: blue;
    color: gold;
}

.header{
    text-align: center;
    font-size: 35px;
}

.header img {
 width: 150px;
 height: 150px;
 border-radius: 100px;
 margin-top: 12 0px;
}

#footer{
    text-align: center;
    margin-top: 50px;
    font-size: 25px;
    background-color: black;
    color: white;
}
.header h3{
    color: white;
    background: black;
}